.TodoSearch {
    background: #c6d3f8;
    border-radius: 9px;
    border: 5px solid #728ab9;
    margin: 12px 24px;
    height: 64px;
    width: calc(100% - 62px);
    font-size: 24px;
    text-align: center;
    font-family: 'Arial,Sans-serif';
    font-weight: 400;
    color: #1E1E1F;
    box-shadow: 0px 5px 50px rgba (32, 35, 41, 0.25);
}

.TodoSearch::placeholder {
    color: #074272;
    font-family: 'Arial,Sans-serif';
    font-weight: 400;
    border-radius: 12px; 
}

.TodoSearch:focus {
    outline-color: #61DAFA;
}